*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.walkingsheet-wrapper{
    max-width: 100%;
    max-height: 500px;
    position: relative;
    margin: 0 auto;
}

.content-wrapper{
    max-width: 100%;
    overflow-x: auto;
    background: url('../images/hahaha.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: end;
    height: 500px;
    display: flex;
    gap: 16px;
}


.content-wrapper .inner-body{
    width: 500px;
    height: 100%;
    flex-shrink: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    color: yellow;

}

.content-wrapper::-webkit-scrollbar{
    display: none;
}



/* Walking Man CSS Start */


:root {
    --width:30400px;
    --height:600px;

    --womanWidth:9600px;
    --womanHeight:360px;
}


.walking-man-wrapper{
    position: absolute;
    bottom: 0;
    transform: translate(-65%,0);
}


.walking-man{
    overflow: hidden;

}

.walking-man.man{
    width: 165px; 
    height: 195px;
}

.walking-man.woman{
    width: 165px; 
    height: 195px;
}

.walking-man.man .image-wrapper{
    width: var(--width);
    height: var(--height);
    background-image: url('../images/walking-man.png');
    transform: scale(0.3);
}

.walking-man.woman .image-wrapper{
    width: var(--womanWidth);
    height: var(--womanHeight);
    background-image: url('../images/walking-woman.png');
    transform: scale(0.5);
}

.walking-man .image-wrapper{
    background-repeat: no-repeat;  
    transform-origin: top left;  
}

.walking-man.man .image-wrapper.walking {
    background-image: url('../images/walking-man.png');
    animation: walk 0.8s steps(38) infinite;
}

.walking-man.woman .image-wrapper.walking {
    background-image: url('../images/walking-woman.png');
    animation: walkWoman 0.8s steps(20) infinite;
}

.walking-man.man .walking-reverse {
    background-image: url('../images/walking-man-reverse.png') !important;
    animation: walk 0.8s steps(38) infinite reverse;
}

.walking-man.woman .walking-reverse {
    background-image: url('../images/walking-woman-reverse.png') !important;
    animation: walkWoman 0.8s steps(20) infinite reverse;
}

.walking-man.man .reverse-man{
    background-image: url('../images/walking-man-reverse.png') !important;
}

.walking-man.woman .reverse-man{
    background-image: url('../images/walking-woman-reverse.png') !important;
}


@keyframes walk {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(var(--width) * -1) 0;
    }
}

@keyframes walkWoman {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(var(--womanWidth) * -1) 0;
    }
}

/* Walking Man CSS END */



.character{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #8a8a8a;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.character.d-none{
    display: none;
}

.character h2{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
}

.character .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.character .row .col{
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    background-color: #464946;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.character .row .col:hover{
    transform: scale(0.95);
}

.character .row .col figure{
    width: 100%;
    height: 200px;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}

.character .row .col figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -45px;
}

.character .row .col p{
    text-align: center;
    color: white;
    font-size: 32px;
}